// Base variables
$lightGray: #eee !default;
$color-border: $lightGray !default;
$borderStyle-base: solid !default;
$borderWidth-base: 1px !default;
$spacing-base: 0.5em !default;
$borderRadius-base: 0 !default;
$borderRadius-message: $borderRadius-base !default;

/*
 * Border mixin for quickly defining borders on one or all sides
 */
@mixin border($color: $color-border, $style: $borderStyle-base, $width: $borderWidth-base, $side: 'all', $clear: false) {
    @if $clear and $side != 'all' {
        border: 0;
    }

    @if $side == 'all' {
        border: $width $style $color;
    } @else {
        border-#{$side}: $width $style $color;
    }
}

@mixin flash($color) {
    background-color: $color;
    color: darken($color, 60%);
    display: block;
    margin-bottom: $spacing-base / 2;
    padding: $spacing-base / 2 $spacing-base / 2 $spacing-base / 2 50px;
    border-radius: $borderRadius-message;

    a {
        color: darken($color, 70%);
        text-decoration: underline;

        &:focus,
        &:hover {
            color: darken($color, 90%);
        }
    }
}

@mixin centered($direction: 'x') {
    position: relative;

    $transform: none;

    @if $direction == 'horizontal' or $direction == 'X' or $direction == 'x' {
        $direction: 'x';
        $transform: translateX(-50%);
    } @else if $direction == 'vertical' or $direction == 'Y' or $direction == 'y' {
        $direction: 'y';
        $transform: translateY(-50%);
    } @else if $direction == 'both' {
        $transform: translate(-50%, -50%);
    }

    @if $direction == 'x' or $direction == 'both' {
        left: 50%;
    }

    @if $direction == 'y' or $direction == 'both' {
        top: 50%;
    }

    transform: $transform;
}
