// Base variables
$fontColor-base: black !default;
$fontFamily-base: sans-serif !default;
$fontSize-base: 1em !default;
$lineHeight-base: 1.4em !default;
$duration-base: 150ms !default;
$timing-base: ease !default;
$spacing-base: 1em !default;
$fontFamily-heading: $fontFamily-base !default;
$lineHeight-heading: $lineHeight-base !default;
$spacing-small: 0.1em !default;
$color-action: blue !default;
$fontSize-h1: 2.2em !default;
$fontSize-h2: 2.0em !default;
$fontSize-h3: 1.8em !default;
$fontSize-h4: 1.6em !default;
$fontSize-h5: 1.4em !default;
$fontSize-h6: 1.2em !default;
$fontWeight-base: 400 !default;
$fontWeight-thin: 200 !default;
$fontWeight-bold: 600 !default;

body {
    color: $fontColor-base;
    font-family: $fontFamily-base;
    font-feature-settings: "kern", "liga", "pnum";
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    font-weight: $fontWeight-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontFamily-heading;
    line-height: $lineHeight-heading;
    margin: 0 0 $spacing-small;
    font-weight: $fontWeight-bold;
}

h1 {
    font-size: $fontSize-h1;
}

h2 {
    font-size: $fontSize-h2;
}

h3 {
    font-size: $fontSize-h3;
}

h4 {
    font-size: $fontSize-h4;
}

h5 {
    font-size: $fontSize-h5;
}

h6 {
    font-size: $fontSize-h6;
}

p {
    margin: 0 0 $spacing-small;
}

a {
    color: $color-action;
    text-decoration: none;
    transition: color $duration-base $timing-base;

    &:active,
    &:focus,
    &:hover {
        color: shade($color-action, 25%);
    }
}

hr {
    @include border($side: bottom, $clear: true);
    margin: $spacing-base 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}
