$sidebar-cols: 4 !default;
$sidebar-cols--two-sidebars: 3 !default;
$content-cols: 12 !default;
$content-cols--one-sidebar: 8 !default;
$content-cols--two-sidebars: 6 !default;

.l-Section {
    .l-Section-container {
        @include outer-container;
    }
}

.l-Section--sidebar {
    .one-sidebar & {
        @include span-columns($sidebar-cols);
    }

    .two-sidebars & {
        @include span-columns($sidebar-cols--two-sidebars);
    }
}

.l-Section--content {
    .no-sidebars & {
        @include span-columns($content-cols);
    }

    .one-sidebar & {
        @include span-columns($content-cols--one-sidebar);
    }

    .two-sidebars & {
        @include span-columns($content-cols--two-sidebars);
    }
}
