// Base variables
$columns-sidebar: 4 !default;
$columns-sidebar--twoSidebars: 3 !default;
$columns-content: 12 !default;
$columns-content--oneSidebar: 8 !default;
$columns-content--twoSidebars: 6 !default;

.PageSection {
    .PageSection-container {
        @include outer-container;
    }
}

.PageSection--sidebar {
    .one-sidebar & {
        @include span-columns($columns-sidebar);
    }

    .two-sidebars & {
        @include span-columns($columns-sidebar--twoSidebars);
    }
}

.PageSection--content {
    .no-sidebars & {
        @include span-columns($columns-content);
    }

    .one-sidebar & {
        @include span-columns($columns-content--oneSidebar);
    }

    .two-sidebars & {
        @include span-columns($columns-content--twoSidebars);
    }
}
