@import "neat/neat-helpers";

// Neat Breakpoints
$screen-medium: 600px !default;
$screen-large: 900px !default;

$screen-mediumUp: new-breakpoint(min-width $screen-medium 4) !default;
$screen-largeUp: new-breakpoint(min-width $screen-large 8) !default;

@import "neat";
