$base-spacing: 1.5em !default;
$base-borderRadius: 0 !default;
$StatusMessage-color--alert: #fff6bf !default;
$StatusMessage-color--error: #fbe3e4 !default;
$StatusMessage-color--notice: #e5edf8 !default;
$StatusMessage-color--success: #e6efc2 !default;
$StatusMessage-borderRadius: $base-borderRadius !default;

.StatusMessage {
  &.StatusMessage--error {
    @include flash($StatusMessage-color--error);
  }

  &.StatusMessage--status {
    @include flash($StatusMessage-color--success);
  }

  &.StatusMessage--notice {
    @include flash($StatusMessage-color--notice);
  }

  &.StatusMessage--warning {
    @include flash($StatusMessage-color--alert);
  }
}
